# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/
jspm_packages/

# TypeScript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Output directory used by network creators
.next
out/

# Production build output
build/
dist/

# Hardhat artifacts & cache
artifacts/
cache/

# Environment secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*

# OS files
.DS_Store
Thumbs.db

# Other
deployment.json
contract-address.json
